.headerWrapper {
  background-color: rgb(192, 192, 192);


}

.container {
  padding:1rem 1rem;
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  
}


