.registerForm{
 border: 1px solid #048ea0;
max-width: 600px;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 5rem;
padding: 2rem 0;
box-shadow: rgb(42, 131, 134) 0px 1px 120px -12px inset, rgba(39, 169, 179, 0.3) 0px 11px 36px -18px inset, rgb(42, 131, 134) 0px 30px 60px -12px inset;
}

.registerForm h1 {
margin: 2rem 0;
font-size: 2.5rem;
}

.inputGroup {
  margin: 0.6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  max-width: 300px;
}

.inputGroup input {
  padding: 0.5rem;

}

.registerForm button {
  margin: 2rem 0;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  border: 1px solid #048ea0;
  background-color: #268692;
  color: var(--white);
  cursor: pointer;
}

.registerForm button:hover {
   background-color: #fdfdfd;
 color: var(--black);
}



.error {
  text-align: center;
  color: red;

}